<!-- Controls wrapper -->
<script type="text/html" data-forms-template="wrapper">
    <div class="col-sm-<%= schema.size ? schema.size : 6 %>">
        <div class="form-group">
            <label class="control-label" for="<%= id %>">
                <span><%= schema.type === "search" ? "Поиск: " + title : title %></span>
                <% if (schema.required === true) { %>
                    <span class="text-danger">*</span>
                <% } %>
            </label>
            <%= control %>
        </div>
    </div>
</script>

<!-- Header -->
<script type="text/html" data-forms-template="header" data-wrapped="false">
    <div class="col-sm-12">
        <h4><%= title %></h4>
    </div>
</script>

<!-- Hidden field -->
<script type="text/html" data-forms-template="hidden" data-wrapped="false">
    <input type="hidden" name="<%= id %>" id="<%= id %>" value="<%= value %>">
</script>

<!-- Static field -->
<script type="text/html" data-forms-template="static">
    <input type="hidden" name="<%= id %>" id="<%= id %>" value="<%= value %>">
    <p class="form-control-static"><%= value %></p>
</script>

<!-- Text field -->
<script type="text/html" data-forms-template="text">
    <input type="text" name="<%= id %>" id="<%= id %>" value="<%= value %>" class="form-control">
</script>

<!-- E-mail field -->
<script type="text/html" data-forms-template="email">
    <input type="email" name="<%= id %>" id="<%= id %>" value="<%= value %>" class="form-control">
</script>

<!-- Password field -->
<script type="text/html" data-forms-template="password">
    <input type="password" name="<%= id %>" id="<%= id %>" value="<%= value %>" class="form-control">
</script>

<!-- Full text field -->
<script type="text/html" data-forms-template="textarea">
    <textarea name="<%= id %>" id="<%= id %>" value="<%= value %>" class="form-control" rows="8"><%= value %></textarea>
</script>

<!-- Radiobutton field -->
<script type="text/html" data-forms-template="radio">
    <div class="row">
        <div class="col-sm-12">
            <% $.each(schema.values, function() { %>
                <% var checked = value === JSON.parse(this.id) ? "checked" : "" %>
                <label class="radio-inline">
                    <input type="radio" name="<%= id %>" id="<%= id %>" value="<%= this.id %>" <%= checked %>>
                    <span><%= this.title %></span>
                </label>
            <% }); %>
        </div>
    </div>
</script>

<!-- Checkbox field -->
<script type="text/html" data-forms-template="checkbox">
    <div class="row">
        <div class="col-sm-12">
            <% $.each(schema.values, function() { %>
                <% var checked = value && value.indexOf(JSON.parse(this.id)) !== -1 ? "checked" : "" %>
                <label class="checkbox-inline">
                    <input type="checkbox" name="<%= id %>" id="<%= id %>" value="<%= this.id %>" <%= checked %>>
                    <span><%= this.title %></span>
                </label>
            <% }); %>
        </div>
    </div>
</script>

<!-- Select field -->
<script type="text/html" data-forms-template="select">
    <select <%= schema.multiple ? "multiple" : "" %> name="<%= id %>" id="<%= id %>" class="form-control">
        <% if (!schema.multiple) { %>
            <option></option>
        <% } %>
        <% $.each(schema.values, function() { %>
            <% var selected = (schema.multiple && value && value.indexOf(JSON.parse(this.id)) !== -1) || (!schema.multiple && value === JSON.parse(this.id)) ? "selected" : "" %>
            <option value="<%= this.id %>" <%= selected %>><%= this.title %></option>
        <% }); %>
    </select>
</script>

<!-- Submit button -->
<script type="text/html" data-forms-template="submit" data-wrapped="false">
    <div class="col-sm-12">
        <div class="form-group">
            <button type="submit" class="btn btn-primary"><%= title %></button>
        </div>
    </div>
</script>
